<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choice Two</title>

    <link rel="stylesheet" href="style.css">
</head> 
<body>
    <div class="page-container continue-page">
        <div class="header-wrapper">Escape From Bottega</div>
        <div class="description">
            You slip out of the hallway<br>
            You start running as quietly as you can with only the moonlight to guide you. But soon enough, you encounter... stairs!
        </div>
        <div class="btn-wrapper">
            <button class="up">Go up?</button>
            <button class="down">Go down?</button>
        </div>
    </div>
</body>
</html>